
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Logout

{% endblock title %}

{% block content %}
<div class = "container">
<h2 class = "heading font-weight-light text-center"> Logout</h2>
<hr>
You have been logged out.
You can login again <a href = '{% url "login"  %}', class = "mr-4 text-white">
      <i class = "fas fa-sign-in-alt"></i> &nbsp; using this link
      </a>

</div>
<div class = "container w-25 card p-4 mt-4">


</div>

{% endblock content %}
