{% extends 'base.html'%}
{% load static %}
{% block title %}
404 error
{% endblock title %}
{% block content %}


<div class="container">
      <h2 class="heading font-weight-light text-center">404 (Page not found)</h2>
      <hr />
    </div>


{% endblock content %}
