{% extends 'base.html'%}
{% load static %}
{% block title %}
500 error
{% endblock title %}
{% block content %}


<div class="container">
      <h2 class="heading font-weight-light text-center">500 (Internal server error)</h2>
      <hr />
    </div>


{% endblock content %}
