{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{%static './css/main.css'%}" />

    <!-- Fonts & Icons -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <title>
        {% block title%}
        {% endblock title%}
    </title>
  </head>
  <body>
    <!-- Navbar -->

    <nav>
      <a class="logo" href="{% url 'home' %}">
        <i class="fas fa-user-circle"></i>&nbsp;Contacts
      </a>
      <p class ="feature-link m-0 p-0">
      

      <p class ="feature-link m-0 p-0">
      {% if request.user.is_authenticated %}
      <a href = '{% url "create"  %}', class = "mr-4 text-white">
      <i class = "fas fa-plus"></i> &nbsp; Add Contact
      </a>



      <a href = '{% url "logout"  %}', class = "mr-4 text-white">
      <i class = "fas fa-sign-in-alt"></i> &nbsp; Logout
      </a>
      {% else %}
      <a href = '{% url "signup"  %}', class = "mr-4 text-white">
      <i class = "fas fa-user-plus"></i> &nbsp; Sign Up
      </a>

      <a href = '{% url "login"  %}', class = "mr-4 text-white">
      <i class = "fas fa-sign-in-alt"></i> &nbsp; Login
      </a>
      {% endif %}
      </p>
      <form class="form-inline my-2" action="{% url 'search'  %}" method = "GET">
        <input
          class="form-control search-box"
          type="search"
          placeholder="Find contacts..."
          name = "search_term"
          value = {{search_term}}
        />
       
      </form>
    </nav>
    <!-- Navbar ends -->
    <br />

    {% include "partials/_message.html" %}
    
    {% block content%}
    
    {% endblock content%}
    


    <!-- footer -->
    <footer class="mt-4 p-2">
      <p class="text-center p-1 m-0">&copy; Developed by Nikesh</p>
    </footer>
    <!-- footer ends -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
