
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if contact.manager == request.user %}
Delete {{contact}}
{% else %}
<div class = "container">
<h2 class = "heading font-weight-light text-center">you dont have access</h2>
<hr>

</div>
{% endif %}


{% endblock title %}

{% block content %}
{% if contact.manager == request.user %}
<div class = "container">
<h2 class = "heading font-weight-light text-center"> Delete {{contact}}</h2>
<hr>

</div>
<div class = "container w-25 card p-4 mt-4">

<form action = "" method = "POST" enctype = "multipart/form-data">
{% csrf_token %}
{{form|crispy}}
     

<input type="submit" value="delete" class = "w-100 text-white text-center my-2 btn btn-danger "/>
</form>
</div>

{% else %}
<div class = "container">
<h2 class = "heading font-weight-light text-center">you dont have access</h2>
<hr>

</div>
{% endif %}

{% endblock content %}
