
{% extends 'base.html'%}
{% load static %}
{% block title%}
My contacts
{% endblock title%}



{% block content%}
<!-- Main Section -->
    <div class="container">
      <h3 class="heading font-weight-light">Here are your contacts</h3>
      <hr />
      
    </div>

    <div class="container main-part">

    {% if contacts %}
    {% for contact in contacts  %}
    {% include "partials/_card.html" %}
    {% endfor %}
    {% else %}
    No contacts
    {% endif %}

     </div> 

      

{% endblock content%}