{% extends 'base.html'%}
{% load static %}
{% block title %}
search results
{% endblock title %}
{% block content %}
    <!-- Main Section -->
    <div class="container">
      <h3 class="heading font-weight-light">Search results for "{{search_term}}"</h3>
      <hr />
    </div>

    <div class="container main-part">
     
    {% if contacts %}
    {% for contact in contacts  %}
    {% include "partials/_card.html" %}
    {% endfor %}
    {% else %}
    No search results found
    {% endif %}

    </div>
    <!-- Main Section ends-->
{%endblock content%}